.price {
  font-weight: 600;
  font-size: 24px;
  color: #101828;
}

.favoritesButton {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  width: 26px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;

  svg {
    width: 24px;
    height: 24px;
    margin: 10px 0 0 0;
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    width: 16px;
    height: 16px;
    color: var(--yellow);
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #101828;

  svg {
    width: 16px;
    height: 16px;
  }
}

.isFavorite {
  color: var(--orange);
}